body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    /*line-height: 1.6;*/
}

/*header*/

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 5.3125rem;
    color: white;
    /*padding: 1.5%;*/
    align-items: baseline;
    margin: 0 auto;
    /*justify-content: center;*/
}

nav ul li {
    list-style-type: none;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6875rem;
    display: flex;
    flex: 1;
    height: auto;
    align-items: center;
    /*background-color: red;*/
    bottom: 0;
}

.logo img {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}

.navigation {
    flex: 2;
    /*height: 100%;*/
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    /*background-color: darkslateblue;*/
}

.navigation ul li {
    font-size: 1.375rem;
}

.login_btn{
    flex: 1;
    display: flex;
    font-size: 1.375rem;
    justify-content: right;
    margin-right: 2rem;
    align-items: center;

    /*background-color: aqua;*/
}

.login_btn img {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1% ;
}
/*main container*/
.main_container {
    position: relative;
    width: 100%;
    background-color: darkslateblue;
    display: flex;

}

.main_container p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6.75rem;
}

.main_slogan {
    flex: 2;
    margin-left: 2rem;
    border-bottom: white solid 1px;
}

.orange {
    color: rgba(228, 67, 32, 1);
}

.avatars_container {
    display: flex;
    align-items: center;
}

.avatars_container img {
    width: 4.375rem;
    height: 4.375rem;
}

.avatars_container_small {
    position: relative;
    display: flex;
    align-items: center;

}

.avatars_container_small img {
    position: absolute;
}

.avatars_container_small p {
    margin-left: 35%;
}

#avatar_2 {
    left: 50px;
}

#avatar_3 {
    left: 100px;
}
